# git ignore file
*.suo
*.sdf
*.opensdf
*.obj
*.lastbuildstate
*.unsuccessfulbuild
*.log
*.res
*.pch
*.tlog
*.pdb
*.idb
*.lib
ipch
*.vcxproj.user
*.aps
*.APS
*.DLL.bi
*.tlh
*.tli
*.orig
*.exe
*.ilk
*.cache
*.scc
*.sys
*.dll
RC?0????
*.exp
*.tmp
*.metagen
*.stackdump
*.o
*.dgml
~AutoRecover.*
*.ncb
*.opt
*.plg
*.rej
*.vssettings
"Visual Studio 2010"
*.cmake.state
*.contrib
*.raw
*.bin
*.viv
*.pyc
*.bak
*.vspcc
*.tar
*.tgz
*.tar.gz
*.tar.bz2
*.7z
*.zip
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.vspscc
*_i.c
*_p.c
*.tlb
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
